---
import GlobalLayout from "../layouts/GlobalLayout.astro";
---

<GlobalLayout>
  <section class="max-w-2xl w-full mx-auto mt-32">
    <h1 class="text-5xl font-semibold">
      Software engineer, founder and deep thinker
    </h1>
  </section>
</GlobalLayout>
