<div
  class="flex items-center mt-6 max-w-2xl w-full mx-auto relative justify-center"
>
  <div class="absolute inset-0 h-full w-fit flex items-center">
    <a href="/">
      <div class="w-8 h-8 aspect-square drop-shadow rounded-full">
        <img
          class="w-full h-full rounded-full object-cover"
          src="/site/gustavo.png"
        />
      </div></a
    >
  </div>
  <nav class="w-fit">
    <ul
      class="bg-white flex justify-between gap-6 text-sm font-medium border rounded-full shadow px-6 py-2"
    >
      <li>
        <a
          href="/about"
          class="text-black border-teal-500 hover:text-teal-500 py-2 transition-colors hover:border-b"
          >About</a
        >
      </li>
      <li>
        <a
          href="/articles"
          class="text-black border-teal-500 hover:text-teal-500 py-2 transition-colors hover:border-b"
          >Articles</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="text-black border-teal-500 hover:text-teal-500 py-2 transition-colors hover:border-b"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
</div>
