<nav class="max-w-fit mx-auto w-full mt-6">
  <ul
    class="flex justify-between gap-6 text-sm font-medium border rounded-full shadow py-2 px-6"
  >
    <li><a href="/about">About</a></li>
    <li><a href="/articles">Articles</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</nav>
