---
import "@fontsource/inter";
import NavBar from "../components/NavBar.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ?? "Gustavo"}</title>
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>
